#block-system-main-menu {
  float: left;
  display: inline-block;
}

#block-system-user-menu {
  float: right;
  display: inline-block;
}

.webkit .lb-h.block-region-menu-bar input.form-submit {
  right: auto;
}

div#main-content {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

#menu-bar ul.menu li.right {
	float: right;
}
