<html>
<head>
  <meta charset="utf-8" />
  <title>Solipsis Development {% if page.title %} | {{ page.title }} {% endif %}</title>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}rss.xml" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<div id="header-wrapper"><div class="container clearfix">
  <div id="branding" class="clearfix no-logo site-name-hidden no-slogan">
    <h1 id="site-name" class="element-invisible">
      <a href="/" title="Home page" class="active">Solipsis Development</a>
    </h1>
  </div>
  <div id="menu-bar" class="nav clearfix">
    <h2 class="block-title element-invisible element-invisible">
      Main menu
    </h2>
    <div class="menu-wrapper clearfix">
      <ul class="menu clearfix">
        <li class="first leaf">
          <a href="/" title="Go home." class="active">
            Home
          </a>
        </li>
        <li class="leaf">
          <a href="/about" title="The essential questions in life.">
            About Us
          </a>
        </li>
        <li class="leaf">
          <a href="/team/jonmonroe" title="What we&#039;ve done.">
            Experience
          </a>
        </li>
        <li class="leaf">
          <a href="/latest" title="The latest news.">Blog</a>
        </li>
        <li class="last leaf">
          <form method="get" action="/search/">
            <input type="search" placeholder="Search" name="query" />
          </form>
        </li>
      </ul>
      <div class="search-box">

      </div>
    </div>
  </div>
</div></div>
<div id="content-wrapper" class="no-secondary"><div class="container">
  <div id="columns"><div class="columns-inner clearfix">
    <div id="content-column"><div class="content-inner">
      <div id="main-content">
        <div id="content">
        	{{ content }}
        </div>
        <footer id="footer">
					<p>&copy; Solipsis Development 2011 | All Rights Reserved. </p>
				</footer>
      </div>
    </div></div>
  </div></div>
</div></div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4561227-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
