<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Notes {% if page.title %} {{ page.title }} {% endif %}</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	<div id="main">
		<header>
			<h1>Class Notes</h1>
		</header>
		<nav role="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/comp410">COMP 410</a></li>
				<li><a href="/comp431">COMP 431</a></li>
				<li><a href="/astr102">ASTR 102</a></li>
				<li><a href="/poli130">POLI 130</a></li>
			</ul>
		</nav>
		{{ content }}
    <footer>
      <p>@copy; John Doe Photography 2011 | All Rights Reserved. </p>
    </footer>
	</div>
</body>
</html>
